<h1 class="text-center">Wähle dein Aufgabenfach</h1>

<div class="container">
  <div class="row">
    <div class="col col-sm-6 col-md-4">
      <a routerLink="/">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
          <fa-icon class="text-white" [icon]="deutsch"></fa-icon>
        </div>
        <div class="card-header text-right text-uppercase font-weight-bold">Deutsch</div>
      </div>
      </a>
    </div>

    <div class="col col-sm-6 col-md-4">
      <a routerLink="">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
          <fa-icon class="text-white" [icon]="mathe"></fa-icon>
        </div>
        <div class="card-header text-right text-uppercase font-weight-bold">Mathematik</div>
      </div>
      </a>
    </div>

    <div class="col col-sm-6 col-md-4">
      <a routerLink="">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
          <fa-icon class="text-white" [icon]="biologie"></fa-icon>
        </div>
        <div class="card-header text-right text-uppercase font-weight-bold">Biologie</div>
      </div>
      </a>
    </div>

    <div class="col col-sm-6 col-md-4">
      <a routerLink="">
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
          <fa-icon class="text-white" [icon]="chemie"></fa-icon>
        </div>
        <div class="card-header text-right text-uppercase font-weight-bold">Chemie</div>
      </div>
      </a>
    </div>

    <div class="col col-sm-6 col-md-4">
      <a routerLink="">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
          <fa-icon class="text-white" [icon]="englisch"></fa-icon>
        </div>
        <div class="card-header text-right text-uppercase font-weight-bold">Englisch</div>
      </div>
      </a>
    </div>

    <div class="col col-sm-6 col-md-4">
      <a routerLink="">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body text-center">
          <fa-icon class="text-white" [icon]="sport"></fa-icon>
        </div>
        <div class="card-header text-right text-uppercase font-weight-bold">Sport</div>
      </div>
      </a>
    </div>

  </div>
</div>

