<div class="container">
  <div class="text-center">
    <h2>Klasse XYZ</h2>
    Fach
  </div>
</div>

<div class="container d-flex border col-2 justify-content-center">
  <div class="row align-self-center">
    00:00
  </div>
</div>

<div class="container test">
  <div class="border">
    <img class="img-fluid worksheet" src="https://images.gutefrage.net/media/fragen/bilder/hilfe-bei-schwierigen-mathematik-aufgaben/0_original.png?v=1541959268000">
    <div class="hiddenContainer" [hidden]="activeSubmit">
      <ng-container (toggle)="showSubmit()">
      <div class="hiddenDiv bg-light text-center">
        <fa-icon class="fa-pull-right close" [icon]="close" (click)="showSubmit()"></fa-icon>
        <h3>Geschafft!</h3>
        <p>
          Deine Aufgabe wurde erfolgreich eingerecht.
        </p>
        <button class="btn btn-success">Weiter zur nächsten Aufgabe</button>
      </div>
    </ng-container>
    </div>
    <div class="hiddenContainer" [hidden]="activeQuestion">
      <div class="hiddenDiv bg-light text-center">
        <fa-icon class="fa-pull-right close" [icon]="close" (click)="showQuestion()"></fa-icon>
        <h3>Frage?</h3>
        <input type="text">
        <div class="text-right mt-2">
          <button class="btn btn-success">Absenden</button>
        </div>
      </div>
    </div>
    <div class="hiddenContainer closeWindow" [hidden]="activeCancel">
      <div class="hiddenDiv bg-light text-center">
        <fa-icon class="fa-pull-right close" [icon]="close" (click)="showCancel()"></fa-icon>
        <h3>Aufgabe verschoben</h3>
        <p>
          Erledige deine Aufgabe einfach später.
        </p>
        <button class="btn btn-success">Weiter zur nächsten Aufgabe</button>
      </div>
    </div>
</div>

<div class="container">
  <div class="border d-flex flex-wrap justify-content-around">
    <button class="btn"><fa-icon [icon]="arrowLeft"></fa-icon></button>
    <button class="btn" (click)="showCancel()"><fa-icon class="text-danger" [icon]="circle"></fa-icon></button>
    <button class="btn" (click)="showQuestion()"><fa-icon class="text-warning" [icon]="circle"></fa-icon></button>
    <button class="btn" (click)="showSubmit()"><fa-icon class="text-success" [icon]="circle"></fa-icon></button>
    <button class="btn"><fa-icon [icon]="arrowRight"></fa-icon></button>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs nav-stacked">
    <li class="nav-item">
      <button class="nav-link tabFiles active" (click)=showFiles()>Dateien</button>
    </li>
    <li class="nav-item">
      <button class="nav-link tabChat" (click)=showMessages()>Chat</button>
    </li>
    <li class="nav-item">
      <button class="nav-link tabTeacher" (click)="showTeacher()">Lehrer</button>
    </li>
  </ul>
</div>

<div class="container" *ngIf="filesActive">
  <ul class="list-group file-list">
    <li class="list-group-item list-group-item-action" *ngFor="let file of files">{{ file }}</li>
  </ul>
</div>

<div class="container" *ngIf="messagesActive">
  <ul class="list-group file-list">
    <li class="list-group-item list-group-item-action" *ngFor="let message of publicMessages">{{ message }}</li>
  </ul>
</div>

<div class="container" *ngIf="teacherActive">
  <ul class="list-group file-list">
    <li class="list-group-item list-group-item-action" *ngFor="let message of privateMessages">{{ message }}</li>
  </ul>
</div>
