<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <form [formGroup]="registerForm"  class="form-register" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" class="form-control" id="username" formControlName="username" aria-describedby="userHelp" placeholder="Benutzername" required>
              <label for="username">Benutzername</label>
              <small id="userHelp" class="form-text text-muted">Dein Username wird später nicht angezeigt.</small>
            </div>
            <div class="form-group">
              <input  type="text" class="form-control"  id="nickname" formControlName="nickname" aria-describedby="nicknameHelp" placeholder="Anzeigename" required>
              <label for="nickname">Anzeigename</label>
              <small id="nicknameHelp" class="form-text text-muted">Dieser Name wird später angezeigt.</small>
            </div>
            <div class="form-group">
              <input  type="password" name="password" id="password" formControlName="password" class="form-control" placeholder="Password" required/>
              <label for="password">Passwort</label>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="passwordRepeat" formControlName="passwordRepeat" id="passwordRepeat" placeholder="Passwort wiederholen" required/>
              <label for="passwordRepeat">Passwort wiederholen</label>
            </div>
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Registrieren
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
